.about {
  position: relative;
  background: linear-gradient(0deg, #130d30 12%, #05061E 41%);
  margin-top: -1px;
  height: 101vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-size: 10em;
  color: rgba(255, 255, 255, 0.144);
  margin-top: 200px;
  margin-left: 95px;
  text-align: left;
}

.intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  padding: 70px;
  box-sizing: border-box;
  font-size: 0.50em;
  margin-top: 300px;
}

.about-details {
  color: rgb(255, 255, 255);
}

.social-icons {
  margin-left: 30px;
}

.social-icons a {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 13vw;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 160px;
  }

  .intro-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0.1em;
    margin-top: 210px;
    margin-left: -10px;
  }

  .about-details,
  .about-connect {
    font-size: 3.5vw;
  }

  .social-icons {
    font-size: 1vw;
    ;
  }

  .about {
    height: 80vh;
  }
}