.about {
  background: #05061E;
  margin-top: -1px;
  height: 101vh;
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
}

.title {
  font-size: 10em;
  color: rgba(255, 255, 255, 0.062); 
  margin: 60px; 
  text-align: left; 
  text-transform: capitalize;
}
