.experience {
  background: linear-gradient(0deg, #1e092f 12%, #130d30 41%);
  height: 100%;
  margin-top: -1px;
}

.exptitle {
  padding-top: 60px;
  font-size: 5em;
  color: #fff;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .exptitle {
    font-size: 7vw;
  }
}