.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 101vh;
  background: url('../images/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
}

.header-container {
  text-align: center;
  margin: 0;
  padding: 0;
}

.shape1 {
	height: 150px;
	width: 150px;
	position: absolute;
	background: -o-linear-gradient(315deg, #ff5b84, #eb3461);
	background: linear-gradient(135deg, #ff5b84, #eb3461);
	border-radius: 50%;
	bottom: 130px;
	right: -50px;
	z-index: -1;
}

h1 {
  font-size: 10em;
  color: #fff;
  margin: -20px;
}

h2 {
  font-size: 3em;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 11vw;
    margin: 0px;
  }
  h2 {
    font-size: 4.2vw;
  }

  .home {
    background-position: center top; 
  }
}
