/* navbar.css */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: transparent;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar a {
    margin-left: 15px;
    font-size: 20pt;
    text-decoration: none;
    color: black; 
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #aaf;
  }

  @media screen and (max-width: 600px) {
    .navbar a {
      font-size: 3.2vw; 
    }
  }
  