main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Raleway';
}

.card {
  width: 80%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: var(--color-primary-white);
  background-color: var(--background-color);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  transition: #000 0.3s ease;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }

  .heading {
    position: absolute;
    inset: auto auto 60px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.7vw;
  }

  .subheading {
    position: absolute;
    inset: auto auto 20px 30px;
    margin: 0;
    color: #fff;
    transition: inset 0.3s 0.3s ease-out;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7vw;
  }

  li {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    color: #fff;
  }

  li {
    inset: auto auto -270px 30px;
    position: relative;
    margin-top: 10px;
  }

  &:hover .heading {
    inset: auto auto 370px 30px;
    transition: inset 0.3s ease-out;
  }

  &:hover .subheading {
    inset: auto auto 330px 30px;
    transition: inset 0.3s ease-out;
  }

  &:hover li,
  &:hover a {
    opacity: 0.8;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover img {
    transition: blur(10px) 0.3s ease-in;
    filter: blur(10px);
  }
}

.hovered {
  background-color: #0E0F2E;
}

.misc {
  font-size: 1em;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .card {
    width: 120%;
    height: 36rem;
  }

  .card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    filter: blur(3px);
  }

  .heading {
    position: absolute;
    inset: auto auto 420px 30px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vw;
  }

  .subheading {
    position: absolute;
    inset: auto auto 380px 30px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4vw;
  }

  li {
    inset: auto auto -200px 10px;
    padding-right: 50px;
    position: relative;
    margin-top: 10px;
    font-size: 1.4vh;
    color: white;
  }
}