main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Raleway';
}

.card {
  width: 80%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: var(--color-primary-white);
  background-color: var(--background-color);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  transition: #000 0.3s ease;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }

  .heading {
    position: absolute;
    inset: auto auto 60px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.7vw;
  }

  .subheading {
    position: absolute;
    inset: auto auto 20px 30px;
    margin: 0;
    color: #fff;
    transition: inset 0.3s 0.3s ease-out;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7vw;
  }

  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    color: #fff;
  }

  p {
    inset: auto auto 120px 30px;
  }

  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  &:hover .heading {
    inset: auto auto 340px 30px;
    transition: inset 0.3s ease-out;
  }

  &:hover .subheading {
    inset: auto auto 300px 30px;
    transition: inset 0.3s ease-out;
  }

  &:hover p,
  &:hover a {
    opacity: 0.8;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover img {
    transition: blur(10px) 0.3s ease-in;
    filter: blur(10px);
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}

.hovered {
  background-color: #0E0F2E;
}

@media (max-width: 600px) {
  .card {
    width: 120%;
    height: 36rem;
  }
  .card p {
    inset: auto auto 50px 30px;
    font-size: 1.4vh;
  }

  .card .heading {
    font-size: 4.8vw;
    inset: auto auto 40px 20px;
  }

  .card .subheading {
    font-size: 3.5vw;
    inset: auto auto 20px 20px;
  }

  .card:hover .heading {
    inset: auto auto 400px 30px;
    transition: inset 0.3s ease-out;
  }

  .card:hover .subheading {
    inset: auto auto 380px 30px;
    transition: inset 0.3s ease-out;
  }
}
